
@import
  "components/functions",
  "components/reset",
  "components/colors",
  "components/typhography";

//standard styling
.column{ }
form{ width: 1080px; width: 100%; max-width: 780px; margin: 0 auto; }

//:selector supported
*:target, *:not(:target){

}
svg img{ display: none; }
