body{ margin: 0; }
*{ box-sizing: border-box; }
section form{ max-width: 700px; width: 1080px; width: 100%; width: 100vw; margin: 0 auto; padding-top: 50px; }
form .image{ display: block;  width: 200px; height: 200px; position: relative; margin: 0 auto; border-radius: 50%; overflow: hidden; }
form .image .test{ width: 200%; height: 200%; left: -50%; top: -50%; position: relative; }
form .image img{ display: block; left: 0; top: 0; min-width: 50%; min-height: 50%; position: absolute; margin: auto; right: 0; bottom: 0; }
