$white: #FFF;
$grey-black: black;
$feelgood: #f3997b;
$black: #282828;
$grey-white: darken(#e9e9e9, 10%);
$light-grey: #f6f6f6;
$metro50: #BE90D4;
$metro51: #336E7B;
$metro52: #1BA39C;
$metro53: #D24D57;
$metro54: #95A5A6;
$overstap: #EB974E;
$grey: #ECF0F1;
$blue: #3A539B;
$green: #86E2D5;
